@tailwind base;
@tailwind components;
@tailwind utilities;

.formColumn{
  height: 100vh;
  background-color: #EEEEEE
} 
#signup{
background-image: url('./assets/img/signup_pic.jpg');
background-size: cover;
}

#login{
  background-image: url('./assets/img/login_pic.jpg');
  background-size: cover ;
  }

.signRow{
  margin-right: 0 !important;
}

.errorText {
  color: red;
  font-size: small;
}
