
@tailwind base;
@tailwind components;
@tailwind utilities;


#hero {
  background-image: url('./utilities/img/pg.jpg') !important ;
  min-height: 100vh;
  background-size: cover;
  
}

.myCard{
align-self: flex-end !important;
}
 
#button-addon2{
  background-color: black !important ;
}
